* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  position: relative;
  margin: calc(var(--header-height) + 1rem) 0 0 0;
  /* padding: 0 0 0 calc(var(--nav-width) + 0.2rem); */
  padding: 0 0 0 12rem;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  transition: 0.4s;
  background-color: var(--first-color);
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(var(--header-height) + 1.5rem);

  width: 100%;
  justify-content: left;
  align-items: center;
  background-color: var(--first-color);
  padding: 0 0.5rem;
  transition: 0.5s;

  display: grid;
  grid-template-columns: 11rem 5rem 20rem 1fr 10rem;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}

.app-name {
  padding-left: 10px;
  font-size: 25px;
  color: var(--white-color);
}

.header-toggle {
  /* padding-left: 100px; */
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  /* -webkit-tap-highlight-color: transparent; */
}

.header-icon {
  grid-column: 5/6;
  display: flex;
  justify-content: space-around;
}

.header-icon i {
  justify-content: center;
  font-size: 22px;
  background-color: var(--white-color);
  color: var(--first-color);
  display: flex;
  padding: 5px;
  height: 35px;
  width: 60px;
  border-radius: 10px;
  /* border: 1px solid var(--white-color); */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header-icon i:hover {
  height: 38px;
  width: 65px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.search-box {
  grid-column: 3/3;
  background: var(--white-color);
  border: 1px solid var(--first-color);

  height: 40px;
  border-radius: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.search-box:hover {
  background: var(--first-color-alt);
}

.search-box:hover > .search-btn {
  color: var(--first-color);
  background: var(--white-color);
}

.search-btn {
  color: var(--white-color);
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--first-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: transparent;
  outline: none;
  float: left;
  padding: 10px;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  height: 30px;
  width: 268px;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 4.5rem;
  left: 0;
  padding: 1.5rem 0 0 0;
  width: var(--nav-width);
  height: 100vh;

  background-color: var(--first-color);
  z-index: 2;
  transition: 0.5s;
}

.sidebar-admin-dashbord {
  padding-left: 25px;
  display: flex;
  justify-content: 15px 30px;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 18px;
  color: var(--white-color);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.nav-logo,
.nav-link {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 2rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav-logo {
  margin-bottom: 2rem;
}

.nav-logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;
}

.nav-logo-name {
  font-weight: 700px;
  color: var(--white-color);
}

.nav-link {
  position: relative;
  color: var(--first-color-alt);
  transition: 0.5s;
  margin-bottom: 1.5rem;
}

.nav-link:hover {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.active {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  width: 3px;
  background-color: var(--white-color);
  transition: 0.5s;
}

.show {
  /* width: calc(var(--header-height) + var(--sidebar-width)); */
  width: 0px;
}

.space-toggle {
  /* padding-left: calc(var(--nav-width) + 138px); */
  background-color: var(--first-color);
  padding-left: 10px;
}

.main-conatiner {
  /* margin-top: 5.2rem; */
  background-color: var(--first-color);
  padding: 15px;
  height: 100%;
  max-height: 150vh;
}

.child-container {
  background-color: var(--first-color-alt);
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.sidebar-item {
  padding: 0.75em 1.8em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
  color: var(--white-color);
  font-size: 13px;
  /* -webkit-tap-highlight-color: transparent; */
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-title {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  cursor: pointer;
}

.sidebar-title span {
  display: grid;
  grid-template-columns: 30px 120px 30px;
  grid-gap: 1px;
}

.sidebar-title span i {
  display: inline-block;
  width: 1em;
  font-size: 20px;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  max-height: 0;
  overflow: hidden;
  width: 160px;
  transition: max-height 0.7s ease-out;
}
.sidebar-item.open > .sidebar-content {
  max-height: 500px;
  transition: max-height 0.75s ease-in;
}

.sidebar-item.plain {
  color: var(--white-color);
  text-decoration: none;
  font-size: 15px;

  display: flex;
  width: 200px;
}

.sidebar-item.plain:hover {
  text-decoration: none;
}
.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}

hr.solid {
  border-top: 1px var(--white-color);
  margin: 20px 10px;
}

@media screen and (max-width: 768px) {
  main {
    padding: 0;
    height: 220vh;
  }
  .main-conatiner{
    height: 210vh;
  }

  .child-container{
    height: 210vh;
  }

  .header {
    padding: 0;
    grid-template-columns: 8rem 4.5rem 0 0 6.5rem;
  }

  .search-box {
    display: none;
  }

  .sidebar {
    opacity: 92%;
    border: 1px solid var(--white-color);
  }

  .header-icon i {
    height: 30px;
    width: 45px;
  }

  .header-icon i:hover {
    height: 33px;
    width: 50px;
  }

  .space-toggle {
    padding: 0;
  }

  .header-toggle {
    padding-left: 12rem;
  }
}
